<form class="form-horizontal">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-8">
            <input type="text" ng-model="workout.name" class="form-control" id="inputName" placeholder="Workout Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">WOD Description</label>
        <div class="col-sm-8">
            <input type="text" ng-model="workout.description" class="form-control" id="inputDescription" placeholder="Description">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCalendar" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-8">
            <p class="input-group">
                <input type="text" id="inputCalendar" class="form-control" datepicker-popup="{{format}}" ng-model="workout.date" is-open="opened" min-date="2015-01-01" max-date="'2055-06-22'" datepicker-options="dateOptions" show-weeks="false" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="typeOfWOd" class="col-sm-2 control-label">Type of WOD</label>
        <div class="col-sm-8">
            <select ng-model="workout.wodType" id="typeOfWOd" class="form-control" ng-options="item for item in typeOfWorkout"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="typeOfWOd" class="col-sm-2 control-label">Time</label>
        <div class="col-sm-2">
            <div class="col-sm-5">
                <input type="text" ng-model="workout.minutes" class="form-control" id="inputDescription" placeholder="00">
            </div>
            <div class="col-sm-1">
                <span class="vertical-align">:</span>
            </div>
            <div class="col-sm-5">
                <input type="text" ng-model="workout.seconds" class="form-control" id="inputDescription" placeholder="00">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputRoudsOrReps" class="col-sm-2 control-label">Number Rounds/Reps</label>
        <div class="col-sm-8">
            <input type="text" ng-model="workout.roundsOrTotalReps" class="form-control" id="inputRoudsOrReps" placeholder="Num Rounds or Reps">
        </div>
    </div>
    <div class="form-group">
        <label for="image" class="col-sm-2 control-label">Picture of results</label>
        <div class="col-sm-8 row">
            <div>
                <ul class="list-inline">
                    <li ng-repeat="image in workout.images">

                        <div class="col-sm-8">
                            <a href="" id="image" ng-click="openLightboxModal(image)">
                                <img ng-src="api/workout/image/{{image.thumbnail}}/">
                            </a>
                            <button class="btn-group" data-ng-click="deleteImage(image)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </li>
                    <li ng-show="imageSrc">
                        <div class="col-sm-8">

                            <img height="60" ng-src="{{imageSrc}}" />
                            <button class="btn-group" data-ng-click="deleteNewImage(imageSrc)">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="imageUploader" class="col-sm-2 control-label">Picture of results</label>
        <div class="col-sm-8">
            <input id="imageUploader" type="file" file-upload multiple />

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Exercises</label>
        <div class="col-sm-8">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Num Reps</th>
                        <th>Weight or Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exercise in workout.exercises">
                        <td>
                            <span>{{exercise.name}}</span>
                        </td>
                        <td><span>{{exercise.numReps}}</span></td>
                        <td>
                            <div>
                                <span>{{exercise.weightOrDistance}}</span>
                            </div>
                        </td>
                        <td>
                            <button class="btn-group" data-ng-click="deleteExercise(exercise)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="well well-sm form-horizontal col-lg-8 col-lg-offset-2">
        <div class="form-group col-lg-4">
            <label for="inputNewExerciseName" class="sr-only">Exercise Name</label>
            <div>
                <input type="text" id="inputNewExerciseName" class="form-control" placeholder="Search for an exercise" ng-change="onChange()"
                       ng-model="selectedExercise"
                       typeahead="exercise.name  for exercise in exercises | filter:{name: $viewValue} | limitTo:3"
                       typeahead-on-select='onSelect($item)'>
            </div>
            <span ng-if="noResults">No Results found</span>
        </div>

        <div class="form-group col-lg-2">
            <label for="inputNewExerciseReps" class="sr-only">N. Reps</label>
            <div>
                <input type="text" id="inputNewExerciseReps" ng-model="newExercise.Reps" class="form-control" placeholder="N. Reps">
            </div>
        </div>
        <div class="form-group col-lg-4">
            <label for="inputNewExerciseWeight" class="sr-only">Weight/Distance</label>
            <div>
                <input type="text" id="inputNewExerciseWeight" auto-complete ui-items="exercises" ng-model="newExercise.weightOrDistance" class="form-control" placeholder="Weight/Distance">
            </div>
        </div>

        <button type="button" ng-disabled="!isExerciseSelected" ng-click="addExercise()" class="btn"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Exercise</button>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="button" ng-click="save()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
        </div>
    </div>
</form>