<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2" ng-controller="ExerciseController">
    <form class="form-horizontal">
        <div class="well well-sm" ng-show="totalRecordsCount == 0">
            <h5>No Exercises found</h5>
        </div>
        <div ng-show="totalExercises > 0">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" ng-model="filterValue" class="form-control" placeholder="Filter Exercises by (Name) or (Muscle Group)" />
                </div>
                <div class="col-md-4">
                    <select ng-model="categories.selected" class="form-control" ng-options="item for item in categories"></select>
                </div>
            </div>
            <ul class="list-group" ng-repeat="exercise in exercices">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8 col-md-8">
                            <a href="" ng-click="showExerciseDetails(exercise.Id)">
                                <h2>{{exercise.Name}}</h2>
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <div>{{exercise.MuscularGroup}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                           
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">
                <div ng-show="totalExercises > 0">
                    <div>
                        <div data-pagination="" data-previous-text="<" data-next-text=">" data-first-text="<<" data-last-text=">>"
                             data-on-select-page="pageChanged(page)" data-total-items="totalRecordsCount" data-page="currentPage"
                             data-boundary-links="true" class="pagination pagination-sm" data-max-size="5" data-rotate="false" data-items-per-page="10">
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </form>
</div>